* {
    padding: 0;
    margin: 0;
}

:root {
    --fontMain: 'Lato', sans-serif;
    --fontSec: 'Lato', sans-serif;
    /* --mainColor:rgb(99, 233, 211); */
    /* --mainColor:rgb(235, 196, 227); */
    --mainColor: black;
}

header {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0px;
    z-index: 1;
}

ul {
    background-color: white;
    height: 50px;
    font-family: var(--fontMain);
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li {
    list-style: none;
    text-decoration: none;

}

.search-bar {
    border: 2px solid var(--mainColor);
    border-radius: 10px;
    padding: 5px;
    width: 30vw;
}

.nav-element button {
    font-family: var(--fontMain);
}

.nav-element {
    text-decoration: none !important;
    color: var(--mainColor);
    /* background-color: red; */
    border: none;
    font-weight: bolder;
}

.cart-icon:hover,
.nav-element:hover {
    color: rgba(0, 0, 0, 0.701) !important;
    transition: color 0.1s ease-in-out;

}

.cart-icon {
    color: black;
    fill: var(--mainColor);
}

.cart-badge {
    font-size: 12px;
    background: var(--mainColor);
    border-radius: 10px;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
}

.burger {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    display: none;
    cursor: pointer;
}

.l1,
.l2,
.l3 {
    background-color: black;
    width: 30px;
    height: 5px;
    margin: 4px;
    box-sizing: border-box;
    transition: all 0.3s;
}

/* 
@media screen and (max-width:600px){
    .burger{
        display: block;
    }
    .search-bar{
        display: none;
    }
    .cart-icon{
        display: none;
    }
    .cart-badge{
        display: none;
    }
    #logo{
        justify-content: center;
    }
    .l1{
        transform: rotate(120deg);
        background-color: red;
        margin: 0;
    }
    .l2{
        display: none;
    }
    .l3{
        transform: rotate(-120deg);
        background-color: red;
        margin: 0;

    }
} */

.nav-hidden {
    display: none;
}


@keyframes pulsate {
    0% {
        fill: red;
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }

    100% {
        fill: red;
        -webkit-transform: scale(1.07, 1.07);
        opacity: 0.5;
    }
}